@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@font-face {
  font-family: "Love";
  src: url("../assets/fonts/Love-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}